--- 
# - name: Map Port for external access
#   ufw:
#     default: allow
#     state: enabled
#     route: true
#     direction: routed
#     proto: tcp
#     from_port: "{{ external_port }}"
#     to_ip: "{{ local_addr }}"
#     to_port: "{{ local_port }}"
#     log: true
#
- name: Login
  docker_login:
    username: "{{ dockerhub_username }}"
    password: "{{ dockerhub_password }}"
  no_log: true  # Prevents credentials in logs

- name: Pull Image
  docker_image:
    name: "{{ docker_image }}"
    tag: "{{ docker_image_tag }}"
    source: pull
    force_source: true
    state: present
  notify: stop container

- name: run container
  docker_container:
    name: "{{ app_container_name }}"
    image: "{{ docker_image }}:{{ docker_image_tag }}"
    auto_remove: true
    published_ports: "{{ port_mapping }}"
    state: started
    pull: false

- name: Verify Container Running
  wait_for:
    host: "{{ local_addr }}"
    port: "{{ local_port }}"
    connect_timeout: 1
    delay: 5
    state: drained
    sleep: 2

- name: Check Health
  uri:
    url: "http://{{ local_addr }}:{{ local_port }}/health"
    method: GET
