---
- name: run container
  docker_container:
    name: "{{ app_container_name }}"
    image: "{{ docker_image }}:{{ docker_image_tag }}"
    auto_remove: true
    published_ports: "{{ port_mapping }}"
    state: started
    pull: false
